<%- include('./header.ejs') %>

<main id="main" class="main">
  <div class="pagetitle">
    <h1>Terminet</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="dashboard.html">Hyrje</a></li>
        <li class="breadcrumb-item active">Menaxhimi i Termineve</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  <section class="section dashboard">
    <div class="row">
      <!-- Left side columns -->
      <div class="col-lg-12">
        <div class="row">
          <!-- Ticket Managment -->
          <div class="col-12">
            <div class="card ticket-managment overflow-auto">
              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filtro</h6>
                  </li>
                  <li><a class="dropdown-item" href="#">Sot</a></li>
                  <li><a class="dropdown-item" href="#">Këtë muaj</a></li>
                  <li><a class="dropdown-item" href="#">Këtë vitë</a></li>
                </ul>
              </div>
              <div class="card-body">
                <h5 class="card-title">Terminet e fundit <span>| Sot</span></h5>
                <div class="table-responsive py-4">
                  <table class="table">
                    <thead>
                      <tr>
                        <th class="text-center"># Kontratës</th>
                        <th class="text-center">Emri</th>
                        <th class="text-center">Lagjja</th>
                        <th class="text-center">Adresa</th>
                        <th class="text-center">Paisja</th>
                        <th class="text-center">Data</th>
                        <th class="text-center">Orari</th>
                        <th class="text-center">Pako</th>
                        <th class="text-center">Zgjedh</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="text-center">ALB2321</td>
                        <td class="text-center">Filan Fisteku</td>
                        <td class="text-center">Rruga B</td>
                        <td class="text-center">H15/15 Kati 2 Nr 10</td>
                        <td class="text-center">Rrobalarese</td>
                        <td class="text-center">23.01.2023</td>
                        <td class="text-center">12:00 - 14:00</td>
                        <td class="text-center">ALBFIX Lux</td>
                        <td class="td-actions text-center">
                          <button type="button" class="btn btn-danger btn-sm">
                            <i class="fa-solid fa-check-to-slot"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-center">ALB2321</td>
                        <td class="text-center">Filan Fisteku</td>
                        <td class="text-center">Rruga B</td>
                        <td class="text-center">H15/15 Kati 2 Nr 10</td>
                        <td class="text-center">Rrobalarese</td>
                        <td class="text-center">23.01.2023</td>
                        <td class="text-center">12:00 - 14:00</td>
                        <td class="text-center">ALBFIX Lux</td>
                        <td class="td-actions text-center">
                          <button type="button" class="btn btn-danger btn-sm">
                            <i class="fa-solid fa-check-to-slot"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-center">ALB2321</td>
                        <td class="text-center">Filan Fisteku</td>
                        <td class="text-center">Rruga B</td>
                        <td class="text-center">H15/15 Kati 2 Nr 10</td>
                        <td class="text-center">Rrobalarese</td>
                        <td class="text-center">23.01.2023</td>
                        <td class="text-center">12:00 - 14:00</td>
                        <td class="text-center">ALBFIX Lux</td>
                        <td class="td-actions text-center">
                          <button type="button" class="btn btn-danger btn-sm">
                            <i class="fa-solid fa-check-to-slot"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-center">ALB2321</td>
                        <td class="text-center">Filan Fisteku</td>
                        <td class="text-center">Rruga B</td>
                        <td class="text-center">H15/15 Kati 2 Nr 10</td>
                        <td class="text-center">Rrobalarese</td>
                        <td class="text-center">23.01.2023</td>
                        <td class="text-center">12:00 - 14:00</td>
                        <td class="text-center">ALBFIX Lux</td>
                        <td class="td-actions text-center">
                          <button type="button" class="btn btn-danger btn-sm">
                            <i class="fa-solid fa-check-to-slot"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div><!-- End Ticket Managment -->
        </div>
      </div><!-- End Left side columns -->
    </div>
  </section>
</main><!-- End #main -->

<%- include('./footer.ejs') %>