<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ALBFIX - <%= `${title} | ${h.siteName}` %></title>
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <meta content="" name="description">
  <meta content="" name="keywords">
  <!-- Favicons -->
  <link href="/img/favicon.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">
  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/vendor/simple-datatables/style.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">
</head>
<body>


<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="/images/logo2.png"
                    style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">Terminet</h4>
                </div>

                <form class="needs-validation" novalidate action="/login" method="POST" >
                  <p>Ju lutemi identefikohuni</p>

                  <div class="form-outline mb-4">
                    <label for="yourEmail" class="form-label">Email</label>
                    <div class="input-group has-validation">
                      <input type="text" name="email" class="form-control" id="yourEmail" required>
                      <div class="invalid-feedback">Shënoni emailin për identefikim</div>
                    </div>

                  </div>

                  <div class="form-outline mb-4">
                    <label for="yourPassword" class="form-label">Fjalëkalimi</label>
                    <input type="password" name="password" class="form-control" id="yourPassword" required>
                    <div class="invalid-feedback">Ju lutemi shënoni fjalëkalimin!</div>
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Kycu
                      </button>
                     
                  </div>
                  <div class="row d-flex justify-content-center ">
                  <a class="text-muted" href="#!">Keni harruar fjalekalimin?</a>
                </div>
                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">ALBFIX - Sistemi Termineve</h4>
                <p class="small mb-0">Për secilin problem që keni me paisjet tuaja shtëpiake,
                  ju mund të identefikoheni, dhe të krijoni termin në kohën që ju përshtatet.
                  Sistemi është shum i lehtë për përdorim, ku me një buton mund të krijoni
                  terminin tuaj duke zgjedhur datën,orën e preferuar kurdo që ju keni nevojë.
                  Ekipi ynë do të vijë në kohën e përcaktuar nga ju.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

